@model BlogBLL.ViewModels.DetailCategory

<script src="~/front/EasyUi/jquery.min.js"></script>
<script src="~/front/EasyUi/jquery.easyui.min.js"></script>
<!--先引用jquery.min再引用jquery-->
<script src="~/front/EasyUi/locale/easyui-lang-zh_CN.js"></script>
<link href="~/front/EasyUi/themes/gray/easyui.css" rel="stylesheet" />
<link href="~/front/EasyUi/themes/icon.css" rel="stylesheet" />
<link href="~/front/css/bootstrap.min.css" rel="stylesheet" />
<script type="text/javascript"></script>

<div>
    <h4>
        分类名： @Html.DisplayFor(model => model.Category.CategoryName)
    </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.TextCount)
            :
            @Html.DisplayFor(model => model.Category.TextCount)
        </dt>


        <dt>
            @Html.DisplayNameFor(model => model.Category.CategoryHot)
            :
            @Html.DisplayFor(model => model.Category.CategoryHot)
        </dt>
        <dt>
            详情列表：
        </dt>
    </dl>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">文章标题</th>
            <th scope="col">文章热度</th>
            <th scope="col">修改时间</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Texts.Count(); i++)
        {
            <tr>
                <th scope="row">@(i + 1)</th>
                <td>
                    @Model.Texts[i].TextTitle
                </td>
                <td>
                    @Model.Texts[i].Hot
                </td>
                <td>
                    @Model.Texts[i].ChangeTime
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    @Html.ActionLink("分类重命名", "RenameCategory", new { CategoryName = Model.Category.CategoryName }) |
    @Html.ActionLink("返回列表", "CategoryList",new { @class= "btn btn-primary stretched-link" })
</p>
