@model BlogBLL.ViewModels.BlogConfig

<!DOCTYPE html>

<script src="~/front/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/front/Scripts/jquery.validate.min.js"></script>
<script src="~/front/Scripts/jquery.validate.unobtrusive.js"></script>
<link href="~/front/css/main.css" rel="stylesheet" />
<link href="~/front/css/common.css" rel="stylesheet" />
@using (Html.BeginForm("Config", "Manage", FormMethod.Post))
{
    <div class="config-items">
        <div class="config-title">
            <h5>
                <img src="~/front/images/管理配置.png" width="30" height="30"/>网站信息设置
            </h5>
        </div>
        <div class="result-content">
            <table class="insert-tab" width="100%">
                <tbody>
                    <tr>
                        <th width="120"><i class="require-red">*</i>博客名称：</th>

                        <td>
                            @Html.TextBoxFor(m => m.Name, new { @class = "common-text required", @id = "title", @name = "title", @size = "70", @type = "text" })
                            @Html.ValidationMessageFor(m => m.Name)
                        </td>

                    </tr>
                    <tr>
                        <th width="120"><i class="require-red">*</i>博客签名：</th>

                        <td>
                            @Html.TextBoxFor(m => m.Sign, new { @class = "common-text required", @id = "sign", @name = "title", @size = "70", @type = "text" })
                            @Html.ValidationMessageFor(m => m.Sign)
                        </td>

                    </tr>
                    <tr>
                        <th width="120"><i class="require-red">*</i>博客公告：</th>

                        <td>
                            @Html.TextAreaFor(model => model.Note, new { @class = "common-textarea", style = "width:590px ;height:270px;" ,id="note"})

                            @Html.ValidationMessageFor(m => m.Note)
                        </td>

                    </tr>
                    <tr>
                        <th></th>
                        <td>
                            <input type="button" class="btn btn-primary btn6 mr10" plain="true" value="确定" onclick="ConfigUpdate()"/>
                        </td>
                    </tr>
                <tbody>
            </table>

        </div>
    </div>
}
<script>
    function ConfigUpdate() {
        var title = document.getElementById('title').value;
        var note = document.getElementById('note').value;
        var sign = document.getElementById('sign').value;
        $.ajax({
            ajax: false,
            type: "POST",//FromMethod
            url: "/manage/SetConfig",//"/Controller/Action"
            data: { Title: title, Note: note, Sign: sign},
            success: function (data) {
                alert('更新成功');
                //window.location.href = "/Manage/Congfig";
            },
            error: function () {
                alert('更新失败，肯定有Bug');
            }
        });
    }
</script>
