@model BlogModel.BlogText
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" />
<link href="~/Content/clean-blog.min.css" rel="stylesheet" />
<script type="text/javascript"></script>
<link href="~/front/css/bootstrap.min.css" rel="stylesheet" />
<div class="getting-started-container section-container section-container-gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto" style="width:90%">
                <div class="text-nowrap bd-highlight" style="width: 8rem;">
                    <font size="5">
                        文章标题 :@Html.DisplayFor(model => model.TextTitle)
                    </font>
                </div>
            </div>
        </div>

        <hr />
        <div class="col-sm-12 always-beautiful section-description wow fadeIn animated">
            <font size="5">文章正文：</font>
        </div>

        <div class="col-sm-12 always-beautiful section-description wow fadeIn animated">
            @Html.Raw(Model.Text)
        </div>

        <div class="col-sm-12 always-beautiful section-description wow fadeIn animated">
            <font size="5">
                点击量 ：
            </font>
                @Html.DisplayFor(model => model.Hot)
</div>

        <div class="col-sm-12 always-beautiful section-description wow fadeIn animated">
            <font size="5">
                分类：
            </font>
                @Html.DisplayFor(model => model.CategoryName)
        </div>

        <div class="col-sm-12 always-beautiful section-description wow fadeIn animated">
            <font size="5">
                更新时间：
            </font>
                @Html.DisplayFor(model => model.TextChangeDate)
        </div>
        <p>
            <div>
                @Html.ActionLink("编辑文章", "Update", new { TextID = Model.TextID })
            </div>
            <div>
                @Html.ActionLink("返回列表", "TextList")
            </div>
        </p>

    </div>

</div>
