@model BlogModel.BlogText

<div>
    <h4>文章详情</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TextTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TextTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.Raw(Model.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hot)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hot)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TextChangeDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TextChangeDate)
        </dd>
    </dl>
</div>
<p>
    <div>
        @Html.ActionLink("编辑文章", "Update", new { TextID = Model.TextID })
    </div>
    <div>
        @Html.ActionLink("返回列表", "TextList")
    </div>
</p>
