@model IEnumerable<NewBeeBlog.ViewModels.TextIndex>
@{
    ViewBag.Title = "CategroyBlog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var item in Model)
{
    <div class="day">
        <div class="dayTitle">
            <a id="homepage1_HomePageDays_DaysList_ctl00_ImageLink">@item.TextChangeDate.ToString()</a>
        </div>
        <div class="postTitle">
            <a id="homepage1_HomePageDays_DaysList_ctl00_DayList_TitleUrl_0" class="postTitle2" href="/home/blog/@item.TextID">@item.TextTitle</a>
        </div>
        <div class="postCon">
            <div class="c_b_p_desc">
                @if (item.FirstView.Length < 100)
                {
                    @item.FirstView
                }
                else
                {
                    @item.FirstView
                    <a href="/home/blog/@item.TextID">阅读全文</a>
                }
            </div>
        </div>

        <div class="postDesc">发布于 @item.TextChangeDate.ToString() NewbeeBlog 阅读(@item.Hot.ToString()) 评论(@item.CommitCount.ToString()) 属于(@item.CategoryName.ToString())  </div>
        <div class="clear"></div>
    </div>
}

