@using BlogRefactored.Models;
@model TextsListViewModel
@{
    ViewBag.Title = "测试";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<ul>
    @foreach(var item in Model.Texts)
    {
        @*<li>@Html.ActionLink((string)item.TextTitle,"Get",new { id = item.TextID })</li>*@
        <li>@item.TextTitle</li>
    }
</ul>
<p>显示当前第 @Model.Pages 页，共有 @Model.PageCount 页 （全站共计 @Model.TextsCount 篇文章）。</p>