@*
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="referrer" content="origin">
        <title>@confuginfo.Name</title>
        <link href="/front/index_files/blog-common.css" rel="stylesheet" />
        <link href="/front/index_files/bundle-CodingLife.css" rel="stylesheet" />
        <link href="/front/index_files/373006.css" rel="stylesheet" />
        <script async="" src="/front/index_files/analytics.js"></script>
        <script src="/front/index_files/jquery-2.js"></script>
        <script src="/front/index_files/blog-common.js" type="text/javascript"></script>
    </head>
    <body>
        <a name="top"></a>
        <!--done-->
        <div id="home">
            <div id="main">
                <div id="mainContent">
                    <div class="forFlow">
                        @RenderBody()
                        <div class="topicListFooter"></div>
                    </div><!--end: forFlow -->
                </div><!--end: mainContent 主体内容容器-->
                @Html.Action("SideBar", "Side")
                <div class="clear"></div>
            </div><!--end: main -->
            <div class="clear"></div>
            <div id="footer">
                <!--done-->
                Copyright ©2019 NewBeeBlog
            </div><!--end: footer -->
        </div><!--end: home 自定义的最大容器 -->
    </body>
    </html>*@

@{
    var currentUser = ViewBag.currentLoginInfo as NewBeeBlog.Models.User;
    var name = currentUser == null ? string.Empty : currentUser.Account;
    var confuginfo = ViewBag.Config as NewBeeBlog.ViewModels.BlogConfig;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@confuginfo.Name</title>
    <!-- Bootstrap core CSS -->
    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="~/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <!-- Custom styles for this template -->
    <link href="~/Content/clean-blog.min.css" rel="stylesheet" />
    @*<link href="/front/index_files/blog-common.css" rel="stylesheet" />
        <link href="/front/index_files/bundle-CodingLife.css" rel="stylesheet" />
        <link href="/front/index_files/373006.css" rel="stylesheet" />
        <script async="" src="/front/index_files/analytics.js"></script>
        <script src="/front/index_files/jquery-2.js"></script>
        <script src="/front/index_files/blog-common.js" type="text/javascript"></script>*@
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="/home/mindex">@confuginfo.Name</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                菜单
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item">
                        <a class="nav-link" href="/home/mindex">首页</a>
                    </li>
                    @if (currentUser == null)//如果没有登录
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="/Manage/Login">登录</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Manage/Register">注册</a>
                        </li>
                    }
                    else
                    {
                        @*移动端禁止管理员功能
                        if (name == "admin123")//如果是管理员
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="/Manage/index">管理</a>
                            </li>
                        }*@
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/ExitLogin">登出</a>
                        </li>
                        @*移动端禁止信息修改功能
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/ChangeInfo">信息修改</a>
                        </li>*@
                    }
                </ul>
            </div>
        </div>
    </nav>
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/Content/img/home-bg.jpg')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>@ViewBag.title</h1>
                        <span class="subheading">@ViewBag.Sign</span>

                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content -->
    <div id="main">
        <div id="mainContent">
            <div class="forFlow">
                @RenderBody()
                <div class="topicListFooter"></div>
            </div><!--end: forFlow -->
        </div><!--end: mainContent 主体内容容器-->
        @*@Html.Action("SideBar", "Side")*@
        <div class="clear"></div>
    </div><!--end: main -->
    <hr>
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    @*<ul class="list-inline text-center">
                        <li class="list-inline-item">
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>*@
                    <p class="copyright text-muted">Copyright &copy; NewBeeBlog 2019</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Bootstrap core JavaScript -->
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Custom scripts for this template -->
    <script src="js/clean-blog.min.js"></script>
</body>
</html>
